/* Colors */
$black:#040403;
$white:#fafdff;
$gray:#F5F5F5;
$primary-lightest:#0C46A9;
$primary-lighter:#0B3783;
$primary:#06255a;
$primary-darker:#031637;
$secondary-lighter:#FDFF96;
$secondary:#fcff04;
$secondary-darker:#DFE300;
$secondary-darkest:#C9CD00;

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap');

$primary-font: "Outfit", sans-serif;
$secondary-font: 'Montserrat', sans-serif;
