@use './globals' as *;
@use './animations/animations' as *;
body{
    background-color: $gray;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #D0CCD0;
    border-radius: 0;
    h1, h2, h3, h4, h5, h6{
        font-family: $primary-font;
        letter-spacing: 0.025em;
    }
    h1{
        @apply text-4xl;
        color: $primary;
    }
    h2{
        @apply text-5xl md:text-6xl;
        color: $primary;
    }
    h3{
        color: $black;
        @apply text-3xl md:text-4xl;
    }
    h4{
        color: $black;
        @apply text-xl;
    }
    h5{
        @apply text-lg;
    }
    p{
        font-family: $secondary-font;
        @apply text-base font-normal;
    }
    .small{
        @apply text-xs leading-6;
    }
    .a-primary{
        color:$primary;
    }
    .a-primary:hover{
        color: $primary;
    }
    .a-secondary{
        color:$secondary-darker;
    }
    .a-secondary:hover{
        color: $secondary-darkest;
    }
    .logo{
        h4{
            color: $primary;
            @apply pl-4 leading-5;
        }
        svg{
            @apply w-auto h-16;
            fill:$primary;
        }
    }
    .logo-hamburguer{
        @apply w-full flex justify-center;
        transform: scale(1.5);
        h4{
            color: $primary;
            @apply leading-5;
        }
        svg{
            @apply h-16 w-auto;
            fill:$primary;
        }
    }
    .under-construction{
        background-color: $primary;
        h2{
            @apply text-3xl;
            color: $white;
        }
        h4{
            color: $white;
            @apply leading-10 text-4xl;
        }
        svg{
            @apply h-32 w-auto;
            fill:$white;
        }
        .social-icons{
            color: $white;
        }
    }
    header{
        @apply h-auto fixed top-0 w-full block shadow-none;
        background:transparent;
        color:$primary;
        transition: top 0.3s, background-color 0.3s ease;
    }
    .mobile-menu{
        background-color: $gray;
        color: $primary;
    }
    header, .mobile-menu{
        a:hover{
            color:$secondary-darker;
        }
        .btn-register{
            @apply py-2 px-4 rounded-full shadow-md w-full active:bg-slate-400 transition-colors; 
            border: $primary 1px solid;
            color: $primary;
        }
        .btn-register:hover{
            border-color: $secondary-darker;
        }
        .dropdown{
            background-color: $gray;
            width: 100%;
        }
        .cart-widget{
            color:$white;
            @apply mx-2 md:mx-0;
        }
        .flag-icon{
            margin-right: 0.5rem;
            width: 1rem;
        }
        ul li{
            @apply w-fit;
        }
    }
    // Function to show header according to scroll view
    .scrolled-bottom{
        @apply shadow-md;
        background: $gray;
        .openbtn span{
            background: $primary;
        }
    }
    // Function to show header according to scroll view
    // Hamburguer Menu
    .openbtn {
        border-radius: 5px;
        cursor: pointer;
        height: 20px;
        position: relative;
        width: 40px;
        }
    
        .openbtn .openbtn-area{
            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: space-around;
            position: relative;
            transition: all .4s;
        }
    
        .openbtn span {
            background: $primary;
            border-radius: 3px;
            display: inline-block;
            height: 3px;
            left: 12px;
            position: relative;
            transition: all .4s;
            width: 50%;
            // &:nth-of-type(1) {
            //     top: 16px;
            // }
            // &:nth-of-type(2) {
            //     top: 24px;
            // }
            // &:nth-of-type(3) {
            //     top: 32px;
            // }   
        }
    
        .openbtn.active .openbtn-area {
            transform: rotateY(-360deg);
        }
    
        .openbtn.active span{
            &:nth-of-type(1) {
                left: 14px;
                top: 2px;
                transform: translateY(6px) rotate(-135deg);
                width: 45%;
            }
            &:nth-of-type(2) {
                opacity: 0;
            }
            &:nth-of-type(3) {
                left: 14px;
                top: 1px;
                transform: translateY(-6px) rotate(135deg);
                width: 45%;
            }
        }
    // Hamburguer Menu
    //buttons
    .btn-primary{
        @apply py-2 px-6 rounded-xl shadow-md transition-colors uppercase tracking-wide text-sm text-center; 
        background-color: $primary;
        color: $white;
    }
    .btn-primary:hover{
        background-color: $secondary-lighter;
        color: $primary;
    }
    .btn-primary:active{
        background-color: $primary;
        color: $white;
    }

    .btn-secondary{
        @apply py-2 px-6 rounded-full shadow-md transition-colors uppercase tracking-wide text-sm text-center; 
        background-color: $secondary-lighter;
        color: $primary;
    }
    .btn-secondary:hover{
        background-color: $secondary;
        color: $primary;
    }
    .btn-secondary:active{
        background-color: $secondary-darkest;
        color: $primary;
    }
    .services{
        @apply my-12;
        #servicesbuttons{
            @apply flex flex-col md:flex-row mx-auto gap-4 px-4 max-w-screen-lg;
            a{
                @apply w-full md:w-1/3 rounded-3xl bg-cover bg-center;
                transition: all 300ms;
                .servicesContent{
                    @apply flex md:flex-col items-center justify-between h-36 md:h-48 px-4 py-8 relative;
                    img{
                        @apply h-12 w-12 z-10;
                        fill: #fafdff;
                    }
                    h3{
                        @apply md:text-center z-10 font-semibold;
                        color: $primary;
                    }
                }
                .servicesContent::before{
                    @apply h-full left-0 top-0 absolute w-full rounded-3xl transition-colors;
                    background:rgba(229, 229, 229, 0.6);
                    content:"";
                }
            }
            a:hover{
                .servicesContent{
                    img{
                    }
                    h3{
                    }
                }
                .servicesContent::before{
                    background:rgba(253,255,150, 0.6);
                }
            }
        }
    }
    //buttons
    // Hero Banner
    #hero_banner{
        @apply mx-auto;
        p{
            @apply font-bold uppercase;
        }
        .text-description{
            img{
                fill: $white;
                height: auto;
                width: 80px;
            }
        }
        .hero_banner_content{
            background-position: center;
            background-size: cover;
            height: 90vh;
        }
        .hero_banner_content::before{
            @apply block h-full absolute;
            background: rgb(255,255,255);
            background: linear-gradient(321deg, rgba(255,255,255,0) 0%, rgba(253,255,150,1) 100%);
            content: "";
            width: -webkit-fill-available;;
        }
        .splide__pagination{
            @apply gap-4 relative bottom-0 my-4;
            li{
                @apply flex flex-col items-center;
            }
            .splide__pagination__page{
                background-color: $primary;
                height: 15px;
                width: 15px;
            }
            .splide__pagination__page.is-active{
                background-color: $secondary;
                transform: scale(2);
            }
        }
        /* Estilos para los puntos de paginación */
        /* Estilos para los puntos de paginación */
        // .splide__pagination {
        //     @apply relative flex justify-between list-none w-[90%] md:w-2/3 p-0 bottom-8;
        //     li {
        //         @apply flex flex-col items-center gap-2;
        //         span{
        //             @apply text-sm;
        //             color: $primary;
        //         }
        //         button {
        //             @apply rounded-full border-0 w-3 h-3 opacity-100;
        //             background-color: $secondary-darker;
        //         }
        //         .is-active{
        //             background-color: $primary;
        //         }
        //     }
        // }
        // .splide__pagination:before {
        //     background: rgb(36,227,164);
        //     background: linear-gradient(90deg, rgba(36,227,164,0) 0%, rgba(36,227,164,1) 10%, rgba(36,227,164,1) 50%, rgba(36,227,164,1) 90%, rgba(36,227,164,0) 100%);
        //     content: "";
        //     @apply h-px absolute top-[36px] w-full -z-[1];
        // }
        
        // .splide__pagination li.splide__pagination__page.is-active button {
        //     background-color: #333;
        // }
/* Estilos para los puntos de paginación */
    }
    // Global clases
    .category_subtitle{
        @apply font-semibold pb-4;
        color: $secondary-darker;
    }
    .price{
        @apply text-2xl;
        color: $primary;
        font-family: $secondary-font;
    }
    .tooltip_alergens{
        background-color: $secondary;
        color: $primary;
    }
    // Global clases
    // Promo Welcome
    .about{
        .logo{
            @apply w-full flex justify-start;
            a{
                @apply scale-150 origin-bottom-left;
                h4{
                    @apply text-left;
                    color: $primary;
                }
                svg{
                    fill:$primary
                }
            }
        }
        .whatsapp{
            @apply flex items-center gap-4 rounded-3xl py-2 px-4 font-bold uppercase w-full md:w-auto justify-between;
            .wsIcon{
                @apply w-auto h-20 rounded-full flex justify-end items-center text-4xl;
                padding-left: 3px;
                padding-top: 7px;
            }
        }
    }
    // Fin Promo Welcome
    //Cobertura
    .cobertura{
        iframe{
            @apply w-full h-[450px];
        }
        .cobText::before{
            @apply bg-no-repeat bg-contain bg-right-bottom top-0 sm:bottom-36 md:bottom-4 right-0 lg:bottom-0 lg:right-24 lg:top-auto w-16 h-16 lg:w-full lg:h-full absolute;
            background-image: url("/storage/app/public/img/destination.png");
            content: "";
            max-height: 85px;
            opacity: 0.5;
        }
    }
    // Fin Cobertura
    .anchor-btn{
        @apply py-2 sm:px-8 hover:bg-slate-200 hover:border-transparent hover:text-slate-900 active:bg-slate-400 transition-colors text-xs sm:text-sm;
        color: $black;
        display: inline-block;
        text-align: center;
    }
    .small-text{
        font-size: 0.75rem;
        font-weight: 500;
        margin: 3px 0;
    }
    .title{
        align-items: center;
        column-gap: 1rem;
        display: flex;
        margin-bottom: 2rem;
        position: relative;
    }
    .title::after{
        border-top: 1px solid #E5E5E5;
        content: '';
        flex-basis: 0;
        flex-grow: 1;
        height: 0;
        max-width: 100%;
    }
    .font-number-label{
        margin-bottom: 0;
        width: 100%;
        @apply text-xs md:text-sm;
    }
    .font-number{
        font-family: 'Battambang', display;
        font-weight: 400;
    }
    .card-listing{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
      }
    .btn-cart-product{
        margin: 0;
        width:auto;
        svg{
            @apply h-5 w-5 sm:h-6 sm:w-6;
        }
    }
    /* Product view */
    .product-thumbnail{
        border-color: $white;
    }
    .product-thumbnail:hover{
        border-color: $black;
    }
    .product-thumbnail-active{
        border-color: $gray;
    }

    .product-view{
        .add-to-cart-container {
            width:auto;
            .product-toast{
                color: $primary;
            }
            .toast-progress{
                background-color: $secondary;
            }
            .add-to-cart-button{
                background-color: $primary;
                border-radius: 9999px;
                color: $secondary;
                padding: 1rem;
                transition: all 300ms;
            }
            .add-to-cart-button:hover{
                background-color: $primary;
                color: $secondary-darker;
            }
            .add-to-cart-button:active{
                background-color: $primary;
                color: $white;
            }
        }
    }
    #categories{
        .listing{
            .product_listing{
                .small{
                    -webkit-box-orient: vertical;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    line-height: 1.3rem;
                    max-height: 2.6rem;
                    overflow: hidden;
                }
            }
        }
    }
    // SPLIDE Home carousel
    #image-carousel{
        ul li{
            .card-listing{
                @apply justify-between gap-y-4 text-center;
                h4{
                    @apply text-center;
                    color: $primary;
                }
                p{
                    -webkit-box-orient: vertical;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    line-height: 1.3rem;
                    max-height: 2.6rem;
                    overflow:hidden; 
                }
                img{
                    @apply h-6 w-auto;
                }
            }
        }
        .splide__pagination{
            @apply bottom-[-2rem] mr-0;
            .splide__pagination__page{
                background-color: $black;
                opacity: 0.5;
            }
            .splide__pagination__page.is-active{
                opacity: 1;
            }
        }
    }
    // SPLIDE Home carousel
    // Cart
    .cartview{
        h3{
            color: $primary;
        }
        .remove svg{
            fill:$primary;
        }
    }
    // Cookie consent
    .cookie-consent{
        background-color: $secondary-lighter;
        @apply z-10;
        p{
            color: $primary
        }
    }
    //Login
    .backlogin, .backprofile{
        .account{
            background-color: transparent;
            border: none;
            border-bottom: 1px solid $primary;
            border-radius: 0;
        }
        .formselect{
            color: $secondary;
        }
        background-image: url("/storage/app/public/iconos/background.svg");
        .bg-form{
            background-color: $gray;
            @apply shadow-md rounded-lg w-full max-w-[400px];
            .title h3{
                color: $primary;
            }
        }
    }
    .backprofile{
        background-image: none;
    }
    // PRESUPUESTOS
    #subscriptionForm{
        input, select, textarea{
            border: none;
            border-bottom: 1px solid rgb(203 213 225);
            @apply bg-transparent text-slate-400 focus:ring-0;
        }
        input::placeholder, textarea::placeholder{
            @apply text-slate-400;
        }
    }
    // FIN PRESUPUESTOS
    // FOOTER
    footer{
        @apply w-full;
        background-color: $primary;
        color: $white;
        .footer-container{
            @apply pt-16 pb-8 justify-between flex-wrap;
            .logo{
                h4{
                    color: $white;
                }
                svg{
                    fill:$white;
                }
            }
            a{
                @apply flex items-center justify-center;
                color: $white;
            }
            a:hover{
                color: $secondary-lighter;
            }
            svg{
                @apply h-28 w-auto;
                margin-left: 0;
            }
            .footer-menu > div {
                @apply flex-1 md:flex-auto;
                h4{
                    @apply text-lg;
                    color: $secondary;
                }
                ul li{
                    @apply text-sm pb-1 md:pl-2;
                    a{
                        @apply md:justify-start;
                    }
                }
            }
        }
        .post-footer{
            @apply flex flex-col-reverse sm:flex-row items-center justify-between mx-auto pt-8 pb-8 md:py-8 text-xs gap-y-4;
            a{
                color: $white;
            }
            a:hover{
                color: $secondary-lighter;
            }
        }
    }
}